<%- include("./partials/header") %>
    <div class="page-content-product">
        <div class="main-product">
            <div class="container">
                <div class="row clearfix">
                    <div class="find-box">
                        <h1>All service for you at one place.</h1>
                        <h4>It has never been easier.</h4>

                    </div>

                </div>

            </div>


            <div class="container1 mt-5 mb-5">

                <div class=" container2  d-flex justify-content-center row">
                    <div class="panel panel-default">
                        <div class="panel-heading">Filter by category</div>
                        <div class="panel-body">
                            <div class="check">
                                <input type="checkbox" name="" id="check">
                                <label for="check">Laptop</label>
                            </div>
                            <div class="check">
                                <input type="checkbox" name="" id="check1">
                                <label for="check1">Groceries</label>
                            </div>
                            <div class="check">
                                <input type="checkbox" name="" id="check2">
                                <label for="check2">Cars</label>
                            </div>
                            <div class="check">
                                <input type="checkbox" name="" id="check3">
                                <label for="check3">Others</label>
                            </div>

                        </div>
                        <div class="panel-heading">Filter by Distance</div>
                        <div class="panel-body">
                            <div class="check">
                                <input type="radio" name="" id="check">
                                <label for="check">Anywhere</label>
                            </div>
                            <div class="check">
                                <input type="radio" name="" id="check1">
                                <label for="check1">Less than 5km</label>
                            </div>
                            <div class="check">
                                <input type="radio" name="" id="check2">
                                <label for="check2">Less than 10km</label>
                            </div>


                        </div>
                    </div>
                    <div class="col-md-8">
                        <% Owner.forEach(function(Owner){%>
                            <div class="row1 row p-2 bg-white border rounded">
                                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image"
                                        src="<%= Owner.imagePath %>"></div>
                                <div class="col-md-6 mt-1">
                                    <h5>
                                        <%= Owner.Shopname%>
                                    </h5>
                                    <div class="d-flex flex-row">
                                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>
                                    </div>
                                    <div class="mt-1 mb-1 spec-1"><span>Fast service</span><span
                                            class="dot"></span><span>Pickup service</span><span
                                            class="dot"></span><span>Best service<br></span></div>

                                    <p class="text-justify text-truncate para mb-0">
                                        <br>
                                        <%= Owner.description %><br><br>

                                    </p>
                                </div>
                                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                    <h6 class="text-success">Contact for more informations</h6>
                                    <br>
                                    <br>
                                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm"
                                            type="button">Details</button><button
                                            class="btn btn-outline-primary btn-sm mt-2" type="button">Contact
                                            us</button></div>

                                </div>

                            </div>
                            <%}); %>
                    </div>
                </div>


            </div>
            <%- include('chatbox') %>
                <nav class="page" aria-label="Page navigation">
                    <ul class="pagination pagination-lg">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
        </div>
    </div>
    </div>

    </div>

    <!--main js-->
    <script src="js/jquery-1.12.4.min.js"></script>
    <!--bootstrap js-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/wow.min.js"></script>
    <!--custom js-->
    <script src="js/custom.js"></script>



    </body>
    <%- include("./partials/footer") %>

        </html>